<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
    <body style="background-image: url(/bg.jpeg);">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active">Se connecter</h2>
      
          <!-- Icon -->
          <div>
            <img src="/logo.jpeg" class="userImage" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
        <!-- <form action="/users/login" method="POST" enctype="multipart/form-data"> -->
          <form action="/users/login" >
            <input type="text" id="email" name="email" placeholder="Email" required>
            <div class="email error"></div>
            <input type="password" name="password" id="pwd" placeholder="Password" required>
            <div class="pwd error"></div>
            <input type="submit" class="fourth" value="Login">
            <p id="message"></p>
        </form>
        
        <div id="formFooter">
          <a class="underlineHover" href="/users/register">vous n'avez pas de compte ?</a>
        </div>
        </div>
      </div>

      
</body>
<script>
    const form = document.querySelector("form"); 
    form.addEventListener('submit',async (e)=>{
        e.preventDefault(); 
        const Emailerror = form.children[1]; 
        const pwdError = form.children[3]; 

        Emailerror.textContent="";
        pwdError.textContent="";

        const email = form.email.value; 
        const password = form.password.value; 
        console.log(email,password)

        try {
            const res = await fetch('/users/login',{
                method : "POST",
                body : JSON.stringify({email , password}),
                headers : {'Content-type' : 'application/json'}                
            }); 
            const data = await res.json(); 
            console.log(data +"+++++++");
            Emailerror.textContent=data.email;
            pwdError.textContent=data.password;
            if(data.user){
                console.log(data.user._id+"////")
                window.localStorage.setItem("userInfo",JSON.stringify(data.user))
                location.assign("/establishment/establishments");
            }  
        } catch (error) {
            console.log(error);
        }
    })
</script>
</html>