<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css">
      </head>
    <body style="background-image: url(/bg.jpeg);">

    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <a href="/establishment/establishments" class="previous round">&#8249;</a>
          <h2 class="active">Creer un Compte</h2>
      
          <!-- Icon -->
          <div>
            <img src="/logo.jpeg" class="userImage" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
        <form action="/users/register" method="POST">
            <input type="text" id="name" name="name" placeholder="nom" required>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="text" id="email" name="email" placeholder="Email" required>
            <input type="password" name="password" id="pwd" placeholder="mot de passe" required>
            <select name="role" id="role">
              <option value="chef">chef d'etablissement</option>
              <option value="patremoine">patremoine</option>
              <option value="presidence">presidence</option>
            </select>
            <select name="estab" id="estab">
            </select>
            <input type="submit" class="fadeIn fourth" value="Valider">
        </form>
            
        </div>
      </div>
      <script>
        let xhr = new XMLHttpRequest();
  xhr.open('get', '/establishment/establishmentsJson');
  xhr.send();

  xhr.onload = function() {
      let res = JSON.parse(xhr.response)
      console.log(res);
    for (let i = 0; i < res.length; i++) {
      document.getElementById("estab").innerHTML +="<option value='"+ res[i]._id+"'>"+res[i].name+"</option>";
        
    }
    
};
      </script>
</body>
</html>