@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }
    nav li {
        padding: 0.5rem 0;
    }
} 
nav a {
    text-decoration: none;
    color: #0d47a1
}
nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 1rem 2rem; /* 3 */
    background: #cfd8dc; /* 4 */
}

nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
}

nav li {
    padding-left: 1rem; /* 7! */
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
}
select {
    background-color: lightgray;
    border-radius: 5px;
    min-width: 100px;
    height: 20px;
}
option {
    color: white;
    text-align: center;
}
label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.details{
    text-align: center;
}
.table-result{
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

.table-result th{
    background-color: lightgray;
}
  
.navigation{
    text-align: center;
} 
button{
    width: 20px;
    background: transparent;
    border-radius: 20%;
    background-color: lightblue;
}
.buildings{
    margin: 20px;
}


input[type=button], input[type=submit], input[type=reset]  {
    background-color: lightgreen;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    width: 80%;
  }
  
  
  
  input[type=text],input[type=password] {
    background-color: white;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #bdbcbc;
   
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  
  .userImage{
      height: 100px;
      width: 100px;
      border-radius: 10px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    min-height: 100%;
    padding: 20px;
    margin-top: 150px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 50px;
    width: 100%;
    max-width: 500px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  

  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    margin-bottom: 20px;
  }
.error{
    color: red;
}
.user{
    border-radius: 10px;
    background-color: lightgray;
    border: 2px solid white;
    text-transform: uppercase;
    text-align: center;
    padding-right: 8px;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 2px;
}
li{
    height: 30px;
}
.underlineHover {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }